<div *ngIf="apiLoaded | async">
  <google-map 
    [options]="options"
    (mapClick)="addMarker($event)">
    <map-marker-clusterer [imagePath]="markerClustererImagePath">
    <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions"
          [options]="markerIcon"
          [position]="markerPosition"
          (mapClick)="openInfoWindow(marker, markerPosition)"
          ></map-marker>
    </map-marker-clusterer>
    <map-info-window #infoWindow="mapInfoWindow">
      <strong>{{current?.direccion}}</strong>
      <br/>Horario: <strong>{{(current?.desde)}} a {{current?.hasta}}</strong>
      <br/><span *ngIf="current?.adornos">Casa Adornada</span>
      <p style="text-align: right;
      margin-top: 5px;
      margin-bottom: 0;">
      <button style="border: none;
      padding: 2px 5px;
      background-color: #e18f8f;
      font-size: 10px;
      text-transform: uppercase;
      margin-top: 15px;" (click)="delete(current?.documentId)">Borrar</button></p>
    </map-info-window>
    <map-marker #homeMarker="mapMarker"
      [options]="homeIcon"
      [position]="homePosition"
      >
    </map-marker>
  </google-map>
</div>