/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.map-container,body, html {
  position: absolute;
  overflow: hidden;      
  width: 100% !important;
  height: 100% !important;
} 
.map-container{
  cursor: crosshair;
}