<form [formGroup]="casaForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Datos de la casa</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group" [ngClass]="{
      'has-danger': casaForm.controls.email.invalid && (casaForm.controls.email.dirty || casaForm.controls.email.touched),
      'has-success': casaForm.controls.email.valid && (casaForm.controls.email.dirty || casaForm.controls.email.touched)
      }">
      <label for="exampleInputEmail1">Correo Eléctronico</label>
      <input type="email" class="form-control" formControlName="email" id="" aria-describedby="emailHelp" placeholder="" required>
      <small id="emailHelp" class="form-text text-muted">El correo será la contraseña para editar tu casa</small>
      <div class="form-control-feedback"
        *ngIf="casaForm.controls.email.errors && (casaForm.controls.email.dirty || casaForm.controls.email.touched)">
      <p *ngIf="casaForm.controls.email.errors.required">Email is required</p>
      <p *ngIf="casaForm.controls.email.errors.pattern">The email address must contain at least the @ character</p>
  </div>        
    </div>
    <div class="form-group">
    <label for="inputAddress">Dirección</label>
    <input type="text" class="form-control" formControlName="direccion" placeholder="Calle y número">
  </div>    
    <div class="form-group">
      <label for="">Horario</label>
      <div class="form-row">
        <div class="col">
        <label for="">Desde</label>
          <select class="form-control" formControlName="desde"  >
            <option value="6:00 pm">6:00 pm</option>
            <option value="7:00 pm">7:00 pm</option>
            <option value="8:00 pm">8:00 pm</option>
            <option value="9:00 pm">9:00 pm</option>
            <option value="10:00 pm">10:00 pm</option>
            <option value="11:00 pm">11:00 pm</option>
          </select>
        </div>
        <div class="col">
          <label for="">Hasta</label>
            <select class="form-control" formControlName="hasta" >
              <option value="6:00 pm">6:00 pm</option>
              <option value="7:00 pm">7:00 pm</option>
              <option value="8:00 pm">8:00 pm</option>
              <option value="9:00 pm">9:00 pm</option>
              <option value="10:00 pm">10:00 pm</option>
              <option value="11:00 pm">11:00 pm</option>
            </select>  
        </div>    
      </div>
      <small id="" class="form-text text-muted">Horario en el cual se entregarán dulces</small>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="adornos" >
        <label class="form-check-label" for="gridCheck">
          Casa con Adornos
        </label>
      </div>
      <small id="" class="form-text text-muted">Si la casa cuenta con adornos de Halloween</small>
    </div>    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cancelar</button>
    <button type="submit" class="btn btn-primary" [disabled]="!this.casaForm.valid">Guardar</button>
  </div>
</form>